body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: gray;
    text-align: center;
}

h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
    font-size: 10vmin;
    text-shadow: 1px 1px 6px black;
}

h2 {
    color: black;
    text-shadow: 1px 1px 6px gray;
    font-size: 7vmin;
    font-weight: 300;
}

h3 {
    font-weight: 300;
    padding-bottom: 24px;
    color: black;
}

.white {
    color: white;
}

.lighter {
    color: #756657;
    font-weight: 400;
}

.black {
    color: black;
    text-transform: uppercase;
}

.email {
    color: white;
    padding-left: 6px;
}

a:hover {
    text-decoration: none;
}

.navbar {
    position: absolute;
    font-size: .7em;
    border-width: 0px;
    background-color: rgba(0,0,0,0.0);
}

.nav.navbar-nav li a {
    color: white;
    text-shadow: 1px 1px 6px black;
    text-transform: uppercase;
}

.navbar-toggle {
    border: none;
    outline: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    box-shadow: 1px 1px 6px #515151;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: rgba(0,0,0,0.06);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    color: white;
    background-color: rgba(0,0,0,0.06);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgba(0,0,0,0.06);
}

.navbar-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all .6s;
}

section {
    width: 100%;
    min-height: 50%;
    padding: 16px;
    padding-top: 66px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home {
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
}

#about, #rates {
    background-color: #ebe6e0;
}

#qualifications, #testimonials {
    background-color: #e1dad0;
}

.testimonials {
    font-size: .9em;
    font-style: italic;
}

#contact {
    background-color: gray;
    color: white;
    font-size: .8em;
}

.col {
    max-width: 768px;
    margin: auto;
}

.yj {
    padding: 8px;
    float: none;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.2);
}

.vector {
    opacity: 0.3;
}

i {
    color: white;
}

i:hover {
    transform: scale(1.1,1.1);
    transition: all .2s;
}

@media screen and (max-width: 767px) {
    .navbar {
        position: fixed;
        text-align: left;
    }
    .bttm {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 768px) {
    .bttm {
        margin-bottom: 16px;
    }
}